In [9]:
import pandas as pd
value =pd.read_csv(r"C:\Users\Admin\Downloads\cities (12).csv")
#print(value)


import matplotlib.pyplot as plt

%matplotlib inline

x_values = [cities[0]['City'], cities[1]['City'], cities[2]['City']]
y_values = [cities[0]['Population'], cities[1]['Population'], cities[2]['Population']]

plt.bar(x_values, y_values)
plt.ylabel('Population')
plt.xlabel('cities')
plt.title('City Populations')

plt.show()

NameError: name 'cities' is not defined

In [29]:

names=['Githaiga','Francis','Abdi','Jane','John']
nums=[0,1,2,3,4]
len(names)
for num in nums:
    print(num)
for name in names:
    print(name)

0
1
2
3
4
Githaiga
Francis
Abdi
Jane
John

In [66]:
names = ["Githaga","Francis","Abdi","Jane","John",]
nums =[0,1,2,3,4]
char=['a','b','c','d','e']
names.pop()
for num in nums:
    print(f"index: {num}, name: {names[num]}")

index: 0, name: Githaga
index: 1, name: Francis
index: 2, name: Abdi
index: 3, name: John

IndexError: list index out of range

In [88]:
names = ["Githaga","Francis","Abdi","Jane"]
nums =[0,1,2,3,4]
print(nums[0])
print(nums[1])
print(nums[2])
print(nums[3])
print(nums[4])
print('\n')
print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])

0
1
2
3
4


Githaga
Francis
Abdi
Jane

IndexError: list index out of range

In [102]:
for num in nums :
    print(num)
    print(names[num])
    #print('Index:',num, 'Name:', names[num])

0
Githaga
1
Francis
2
Abdi
3
Jane
4

IndexError: list index out of range

In [104]:
names = ["Githaga","Francis","Abdi","Jane"]
nums =[0,1,2,3,4]
for index, name in enumerate(names):
    print('Index:',index,'Name:',name)

Index: 0 Name: Githaga
Index: 1 Name: Francis
Index: 2 Name: Abdi
Index: 3 Name: Jane

In [110]:
#Nested for loop is a for loop inside a foor loop
for i in range(0,10):
    for j in range(0,i):
        print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
6 5
7 0
7 1
7 2
7 3
7 4
7 5
7 6
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8

In [152]:
# Create a programe that takes students subjects scores,calculates average score, grades the score and gives a comment. Prints out the name ,average score, gade and comment.Promt the user to parse the name
#Function:is a piece of code that performs something/particular task.
#parameter:variables listed inside a parantheses in a function definition.
#Argument:actual values passed to a function.
#input prompts an input form the user
#and both conditions have to be true
#or checks if one is true

def std_details(name,email):
    name='John Doe'
    email='john.doe@student.moringaschool.com'
    print(f'Name: {name} Email: {email}')
    
name=input('Enter You Name:')
email= input('Enter Your Email:')

std_details(name,email)

Enter You Name: John Doe
Enter Your Email: johndoe@student.moringaschool.com

Name: John Doe Email: john.doe@student.moringaschool.com

In [136]:
#std_details('John Doe','johndoe@student.moringaschool.com')

name= input('Enter Your Name:')
email= input("Enter Your Email:")

Enter Your Name: John Doe
Enter Your Email: johndoe@student.moringaschool.com

In [156]:
def std_grading(name, python, AI, Maths):
    avg_score=(python + AI+ Maths)/3
    if avg_score>=70:
        print('Student Name:', name,'\n','Average Score:', avg_score,'\n','Grade:A','\n','Comment:Excellent')

    elif avg_score >= 60:
                print('Average Score:', avg_score,'\n','Grade:B','\n','Comment:Very Good')
        
    elif 50 <= avg_score > 60:

                print('Student Name:',name,'\n','Average Score:', avg_score,'\n','Grade:B','\n','Comment:Very Good')
            
    elif 40 <= avg_score > 50:
                print('Student Name:',name,'\n','Average Score:', avg_score,'\n','Grade:c','\n','Comment:Fair')
        
    else:
            print('Student Name:',name,'\n','Average Score:', avg_score,'\n','Grade:D','\n','Comment:Fail')


name = input('Enter Your Name:')
#python1 =input('Enter Your python score:')
#python2=float(python1)

python=float(input('Enter your python score:'))
AI=float(input('Enter your AI score:'))
Maths=float(input('Enter your Maths score:'))


std_grading(name,python,AI,Maths)

Enter Your Name: Faith Githaiga
Enter your python score: 70
Enter your AI score: 80
Enter your Maths score: 60

Student Name: Faith Githaiga
 Average Score: 70.0
 Grade:A
 Comment:Excellent